.vid {
    object-fit: cover;
    width: 100%;
    height: 22.5%;
    /* position: fixed; */
	position: absolute;
  }

h1 {
    position: fixed;
    flex-direction: row;
    text-shadow: 6px 6px 6px   rgb(53, 50, 50) ;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 800%;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
}

.pro {
    mix-blend-mode:overlay;

}


.backbtn { 
text-decoration: none;
  padding-top: 100px;
padding-bottom: 0%;
  width: auto;
  display: flex;
 position: fixed;
 color: white;
 font-family: 'Oswald', sans-serif;
 font-size: 1.2em;
cursor: pointer;
transition: transform .2s;
}

.backbtn:hover {
    /* background-image: linear-gradient( rgb(255, 255, 255), rgb(224, 224, 224)); */
    color:rgb(0, 119, 255);
    font-family: 'Oswald', sans-serif;
    text-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.5) ;
	transform: scale(1.02);
  }


.QV {
    display: flex;
    position: fixed;
    flex-direction: column;
}


.QT {
    
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    display: flex;
    position: relative;
    flex-direction: row;
    
}



.qP {
    margin-top: 12%;
    padding: 5px;
    margin-left: 26%;
    position: relative;

}
.qP2{
  margin-top: 10%;
}


.btn {
    border: none;
    background-color: white;
    padding: 14px 28px;
    /* font-size: 1em; */
    cursor: pointer;
    display: flex;
    position: relative;
  }

  .btn{
    border: none;
    background-image: linear-gradient(to bottom right,rgb(0, 0, 0), rgb(16, 17, 19), #121212);
    color: whitesmoke;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    /* border-radius: 5px 5px; */
    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 9%;
    width: 61.8%;
    padding-top: 1%;
  
  }

  .btn:hover {
    background-image: linear-gradient( rgb(255, 255, 255), rgb(224, 224, 224));
    color:rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    text-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.5) ;
  }


  .btn:active {
    transform: translateY(10px);
   
  }
  
  
  @media (min-width: 200px) {

    .backbtn { 
      padding-top: 100px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 74%;
  justify-content: center;
  height: 6%;
  padding-bottom: 7%;
        
  }

    .qP {
      margin-top: 90%;
      padding: 5px;
      margin-left: 5%;
      position: relative;
      font-size: .7em;
  
  }

  video {
    height: 60%;
    width: 108%;
    position: relative;
  }

  h1 {
    margin-top: 25%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 3em;

    
    
}
    
  
  }


  
  @media (min-width:320px) {

	.backbtn { 
      padding-top: 100px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
	 font-size: 1em;
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 64.5%;
  justify-content: center;
  height: 3.8%;
  padding-bottom: 4.5%;
        
  }

    .qP {
      margin-top: 50%;
      padding: 5px;
      margin-left: 13%;
      position: relative;
  
  }
  

  video {
    height: 60%;
    width: 90%;
    position: relative;
  }

  h1 {
    margin-top: 12%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 4.2em;

    
    
}
    
  
  }
  
  
  @media (min-width:480px) {

	.backbtn { 
      padding-top: 88px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
	 font-size: 1.1em;
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 73.8%;
  justify-content: center;
  height: 4%;
  padding-bottom: 2.5%;
        
  }

    .qP {
      margin-top: 40%;
      padding: 5px;
      margin-left: 13%;
      position: relative;
  
  }

  .qP2{
    margin-top: 20%;
  }
 

  video {
    height: 60%;
    width: 90%;
    position: relative;
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7em;

    
    
}
    
  
    
  }
  
  
  @media (min-width:540px ) {

	.backbtn { 
      padding-top: 88px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 76.8%;
  justify-content: center;
  height: 2.3%;
  padding-bottom: 4.5%;
  font-size: 1.5em;
        
  }

    .qP {
      margin-top: 30%;
      padding: 5px;
      margin-left: 13%;
      position: relative;
  
  }
 
  video {
    height: 70%;
    width: 90%;
    position: relative;
  
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7em;

    
    
}


@media (min-width:600px ) {

    .backbtn { 
    padding-top: 100px;
	padding-bottom: 0%;
    width: auto;
    display: flex;
   position: fixed;
  
  }


  .btn {
 display: flex;
 position: absolute;
 width: 79.5%;
justify-content: center;
height: 4.5%;
padding-bottom: 1.5%;
      
}

  .qP {
    margin-top: 25%;
    padding: 5px;
    margin-left: 13%;
    position: relative;

}


video {
  height: 70%;
  width: 90%;
  position: relative;

}

h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 7em;

  
  
}


    
  }
  

  @media (min-width:768px ) {

	.backbtn { 
      padding-top: 100px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
    
    }


    .btn {
      display: flex;
      position: absolute;
      width: 71.5%;
     justify-content: center;
     height: 4.3%;
     padding-bottom: 1%;
           
     }

     .qP {
      margin-top: 25%;
      padding: 5px;
      margin-left: 20%;
      position: relative;
      font-size: 1em;
  
  }
  

  video {
    height: 50%;
    width: 80%;
    position: relative;
  
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7em;

    
    
}
    
  }
  

  @media screen and (min-width: 1024px) {

	.backbtn { 
      padding-top: 100px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 72.5%;
  justify-content: center;
  height: 3.5%;
  padding-bottom: 1%;
        
  }

    .qP {
      margin-top: 15%;
      padding: 5px;
      margin-left: 23%;
      position: relative;
      font-size: 1em;
  
  }

  video {
    height: 50%;
    width: 80%;
    position: relative;
  
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7em; 
    
}
  
  }



  @media screen and (min-width: 1200px) {

	.backbtn { 
      padding-top: 100px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 58.5%;
  justify-content: center;
  height: 2.5%;
  padding-bottom: 2%;
        
  }

    .qP {
      margin-top: 15%;
      padding: 5px;
      margin-left: 26%;
      position: relative;
      font-size: 1em;
  
  }


  video {
    height: 50%;
    width: 65%;
    position: relative;
  
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7em;
    
}

  }


  @media screen and (min-width: 1400px) {

	.backbtn { 
      padding-top: 125px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
     
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 59.5%;
  justify-content: center;
  height: 4%;
  padding-bottom: 1%;
        
  }

    .qP {
      margin-top: 14%;
      padding: 5px;
      margin-left: 26%;
      position: relative;
    
  
  }

  .qP2{
    margin-top: 10%;
  }


  video {
    height: 50%;
    width: 65%;
    position: relative;
  
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7em;
    
}
  }

  @media screen and (min-width: 1600px) {

	.backbtn { 
      padding-top: 107px;
	  padding-bottom: 0%;
      width: auto;
      display: flex;
     position: fixed;
     
    
    }


    .btn {
   display: flex;
   position: absolute;
   width: 59.8%;
  justify-content: center;
  height: 3.5%;
  padding-bottom: 1%;
        
  }

    .qP {
      margin-top: 12%;
      padding: 5px;
      margin-left: 26%;
      position: relative;
    
  
  }

  .qP2{
    margin-top: 10%;
  }


  video {
    height: 50%;
    width: 65%;
    position: relative;
  
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 7em;
    
}
  }
