video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed; 
    background-color: #cccc;
    opacity: .07;
  }



/* LANDING PAGE STYLING */
body {
    font-size: 1.3rem;
}
 

.container {
    align-items: center;
    
}

.container > * {
    width: 100%;
    /* any child of .container takes up 100% */
}

#home {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: gray;

}

.btn {
    width: 100px;
    height: 50px;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}

/* GAME PAGE STYLING */

#quiz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80vw; /* takes up the entire view width */
  height: 100; /* takes up the entire view height */
  justify-content: center;
  align-items: center;
 padding: 5%;
  
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}


.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;

  }

  .nav {
    display: inline;
    
  }

  .ul {
    background-color: #dddddd;
    /* border-radius: 5px; */
  }
 
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  
  
}

.nav {
  float: left;
}

li .A {
  display: flex;
  position: relative;
  color: rgba(189, 185, 185, 0.8);
  padding: 7px 16px;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  /* border-radius: 4px; */
  border: rgb(124, 120, 120);
  height: 50px;
  text-align: center;
  margin-bottom: .5px;
  text-shadow: 4px 4px 4px rgb(51, 49, 49);
  
  
}

/* Change the link color to #111 (black) on hover */
li .A:hover {
  background-image: linear-gradient( #1f56bb, #2c4783);
  color: black;
}
